{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}
 <div class="container">
        <h2>{{ post.getTitle }}</h2>
          <small>{{ post.getUser().getName() }}</small>
        <h5><i class="fa fa-calendar-alt"></i> {{ post.getCreatedAt() | date('Y-m-d g:i a') }}</h5>
      
        <hr>
        <div class="form_group">
            <div class="col-md-12 mb-3">
                {{ post.body }}
            </div>
        </div>
        <hr>
        {% if commentform is defined %}
        
            {{ form(commentform) }}
            <hr>
        {% endif %}
      
        {% if comments is defined %}
        <div class="row">
            <div class="col lg-8">
                <div class="card">
                    <div class="card-header">
                       <i class="fa fa-comments"></i> Comments..
                    </div>
                   
                    <ul class="list-group list-group-flush">
                        {% for comment in comments %}
                            <li class="list-group-item"> 
                                <div class="row">
                                    <div class="col col-md-3">
                                        {{ comment.getUser().getName() }}
                                        <br>
                                        <i class="fa fa-calendar"></i> {{ comment.getCreatedAt() | date('Y-m-d g:i:s a') }}
                                    </div>
                                    <div class="col">
                                       {{ comment.getCommentPost() }} 
                                    </div>
                                </div>
                            </li>
                        {% endfor %} 
                    </ul>
                </div>
            </div>
        </div> 
        {% endif %}     
    </div>
    
{% endblock %}
